/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
```
```
```
My code
```
```
```
*/

.theme-light {
   --color-primary: #A7DADC;
   --color-secondary: #C5F0FB;
   --color-accent: #E8E9ED;
   --font-color: #161314;
}

.theme-dark {
    --color-primary: #150811;
    --color-secondary: #380036;
    --color-accent: #056464;
    --font-color: #EBFBFF;
 }

 .theme-usa {
    --color-primary: #002868;
    --color-secondary: #BF0A30 ;
    --color-accent: #BF0A30 ;
    --font-color: #fff;
 }

 .list-normal {
    --item-height: 100px;
    --item-font-size: 25px;
 }

 .list-compact {
    --item-height: 50px;
    --item-font-size: 18px;
 }

 .list-large {
    --item-height: 110px;
    --item-font-size: 35px;
 }

 

body {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: var(--color-secondary);
    color: var(--font-color)
}

main {
    display: flex;
    flex-direction: column-reverse
}

.preferences {
    background-color: var(--color-primary);
}

h1, h2, form, p {
    margin: 30px;
}

a, a:visited {
    color: var(--font-color);
   
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}

h2 {
   
    font-size: 30px;
}

p {
    margin-top: 0;
    font-style: italic;
}


li {

    align-self: center;
    list-style: none;
    background-color: var(--color-primary);
    color: var(--font-color);
    border-radius: 2px;
    margin: 20px;
    padding: 10px;
    font-weight: 900;
    font-size: var(--item-font-size);
    height: var(--item-height);
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 1px solid var(--font-color);
    box-shadow:  10px 10px 1px var(--color-primary);

}

select {
    width: 100%;
    padding: 10px;
    background-color: var(--color-accent);
    color: var(--font-color);
}

option {
    border-radius: 0;
}

.tooltip .tooltiptext {
   display: block;
    font-weight: 400;


}

footer {
    text-align: center;
    margin: 20px;
   
}

@media only screen and (min-width: 1200px) {
    
    body {
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    main {
    flex-direction: row;
    }

    #list-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 5px;
    }

    ul {
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
        
    }

    li {
        
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.preferences {
    margin-left: auto;
    margin-top: 10px;
}

/* From: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
.tooltip .tooltiptext {
    visibility: hidden; 
    position: absolute;
    z-index: 1;
    top: -10px;
    left: 110%;
    width: 200px;
    background-color: var(--color-accent);
    color: var(--font-color);
    padding: 10px;
    border-radius: 6px; 
    border: 1px solid var(--font-color);
    box-shadow:  10px 10px 1px var(--color-primary);
}




.tooltip {
    position: relative;
  }



.tooltip:hover .tooltiptext {
    visibility: visible;
  }

}