/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
```
```
```
My code
```
```
```
*/



 

body {
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

main {
    display: flex;
    flex-direction: column-reverse
}

h1, h2, form, p {
    margin: 30px;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
}

h2 {
   
    font-size: 30px;
}

p {
    margin-top: 0;
    font-style: italic;
}


li {

    align-self: center;
    list-style: none;
    border-radius: 2px;
    margin: 20px;
    padding: 10px;
    font-weight: 700;
    font-size: var(--item-font-size);
    transform: var(--tranform);
    display: flex;
    flex-direction: column;
    justify-content: center;

}

span {
    padding: 10px;
    margin: 10px 0;
}

select {
    width: 100%;
    padding: 10px;
}

option {
    border-radius: 0;
}

.tooltip .tooltiptext {
   display: block;
    font-weight: 400;
}

footer {
    text-align: center;
    margin: 20px;
}

@media only screen and (min-width: 1200px) {
    
    body {
    max-width: 1000px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    }

    main {
    flex-direction: row;
    }

    #list-main {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        margin: 5px;
    }

    ul {
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
        
    }

    li {
        padding: 50px 10px;
        display: block;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .preferences {
        margin-left: auto;
        margin-top: 10px;
    }

    /* From: https://www.w3schools.com/css/css_tooltip.asp*/
    .tooltip .tooltiptext {
        visibility: hidden; 
        position: absolute;
        z-index: 1;
        top: -10px;
        left: 110%;
        width: 200px;
        padding: 10px;
        border-radius: 6px; 
        box-shadow:  10px 10px 1px var(--color-primary);
    }

    .tooltip {
        position: relative;
    }

    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

}